*{
 margin: 0;
 padding:0;
}

body {
    height: 100vh;
    background: rgb(123, 179, 26);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    color: rgb(232, 107, 107);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho-menu {
    display: flex;
    gap: 80px;
}

.cabecalho-menu-links {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 600;
    color: rgb(201, 182, 57);
    text-decoration: underline;
}